<!-- templates/store/book_list.html -->
{% extends "store/base.html" %}

{% block content %}
    <div class="content-body">
        <div class="container" >
            <div class="row">
                <main class="col-md-12">
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">All the books in our store</h3>
                        <ul>
                            {% for book in bookss %}
                                <li>
                                    <strong>{{ book.title }} by {{ book.author }}</strong>
                                    <span style="color: blue;"> :  Book Summary: {{ book.summary }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}
